<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
 <!--Page Heading-->
    <div><h1 class="p-1 pl-3">NUBookSwap</h1></div>
<body class = "light-purple-background">
<div class="dropdown ml-auto pt-2 pr-3">
          
      <button class="btn btn-secondary dropdown-toggle button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.firstname}}
      </button>
          
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Home Page</a>
        <a class="dropdown-item" href="#">Another Page</a>
        <a class="dropdown-item" href="#">Someother Page</a>
      </div>
    
    </div>
<div class="add-container">
<h1>Add Your Book</h1>
<form method="POST" action="/api/books">
    <div class="form-group">
        <label for="BookImage">Book Image</label>
        <input type="text" class="form-control" id="BookImage" placeholder="Enter Image URL for your Bookl" name="image">
    </div>
    <div class="form-group">
        <label for="BookTitle">Title</label>
        <input type="text" class="form-control" id="BookTitle" placeholder="Book Title" name="title">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" class="form-control" id="Price" placeholder="Price" name="price">
    </div> 
    <div class="form-group">
        <label for="Condition">Condition</label>
        <input type="text" class="form-control" id="Condition" placeholder="Condition" name="condition">
    </div> 
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" placeholder="Description" name="description">
    </div> 
    <input type="submit" class="btn btn-primary" value="submit">
</form>
</div>
</body>
</html>