<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body class = "light-purple-background">
      <nav class="navbar navbar-expand-sm justify-content-between nw-purple" >
      <a class = "navbar-brand nu-logo" href = "/browse" >NU BookBuddies</a>
    
      <div class= "d-flex justify-content-center">
          <a class = "m-auto"href= "/add"><i class="fas fa-plus-circle fa-2x m-auto plus-icon"></i></a>
          
          <form class= "form-inline separator">
              <input type= "text" name = "title" class = "form-control mr-sm-2 title search-bar" placeholder = " Book Title"/>
              <button type = "submit" class = "btn btn-primary btn-sm login-btn nw-dark-purple white-border search"><i class="fas fa-search"></i></button>
          </form>
        
          <div class="active name-link" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle login-text profile-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome, {{user.firstname}}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class = "dropdown-item" href = "/profile/{{ user.id }}">Profile</a>
                          {{!-- <a class="dropdown-item" href="/add">Add Book</a> --}}
                          <a class="dropdown-item" href="/browse">Browse Books</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>    
    </nav>
    <div class="add-container">
        <div class="row d-flex flex-wrap justify-content-center nw-purple-text">
            <!--Column-->
            <div class="col-10">
                <h1 class = "nw-purple-text">Add Your Textbook</h1>
                    <form method="POST" action="/api/books">
                        <div class="form-group">
                            <label for="bookTitle">Title:</label>
                            <input type="text" class="form-control purple-border" id="bookTitle" placeholder="Book Title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="bookImage">Image:</label>
                            <input type="text" class="form-control purple-border" id="bookImage" placeholder="Enter Image URL for your Book" name="image">
                        </div>
                        <div class="form-group">
                            <label for="price">Asking Price:</label>
                            <input type="text" class="form-control purple-border" id="price" placeholder="Price" name="price">
                        </div> 
                        <div class="form-group">
                            <label for = "condition">Condition:</label>
                            <select name="condition" id="condition">
                                <option value = "Poor">Poor</option>
                                <option value = "Fair">Fair</option>
                                <option selected value = "Good">Good</option>
                                <option value="Excellent">Excellent</option>
                                <option value="New">New</option>
                            </select>
                        </div>
                        {{!-- <div class="form-group">
                            <label for="Condition">Condition:</label>
                            <input type="text" class="form-control purple-border" id="Condition" placeholder="Condition" name="condition">
                        </div>  --}}
                        <div class="form-group">
                            <label for="Description">Description:</label>
                            <input type="text" class="form-control purple-border" id="Description" placeholder="Description" name="description">
                        </div> 
                        <input type="submit" class="btn btn-primary login-btn nw-dark-purple white-border" value="Add Book">
                    </form>
            </div>
        </div>
        
    </div>
    <div class="footer">Copyright &#169 2018 TigerCats</div>
    <script>
        $('.search').on('click', function(event){
            event.preventDefault();
            window.location.href = "/search/" + $('.title').val().trim();
        });
    </script>
</body>
</html>