{{!-- 
- Should display ALL the books
- Requires an ajax call to /api/books to parse through the book and user data
- Page should also include links to the Add, home, and user profile pages  --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Browse Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
 <script>
    let queryURL = "/api/books";
    console.log(queryURL);
    $.ajax({ url: queryURL, method: "GET" })
    .then(function(allBooks) {
        for (var i = 0, length = allBooks.length; i < length; i++)
        })
        console.log('allBooks');
    return (queryURL);
    });
    function displayBooks() {
    var booksBrowse = '{ "books" : [' +
    //var booksTitle = document.getElementById(" <!-- books title placeholder id --> ").append;
    //var booksAuthor = document.getElementById(" <!-- books author placeholder id -->").append;
    //var booksCondition = document.getElementById(" <!-- books condition placeholder id -->").append;
    //var booksDescription = document.getElementById(" <!-- books description placeholder id --> ").append;
    //var booksPrice = document.getElementById(" <!-- books price placeholder id -->").append;

}
</script>   
</body>
</html>