<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body class = "light-purple-background">
  <nav class="navbar navbar-expand-sm justify-content-between nw-purple" >
      <a class = "navbar-brand nu-logo" href = "/browse" >NU BookBuddies</a>
    
      <div class= "d-flex justify-content-center">
          <a class = "m-auto"href= "/add"><i class="fas fa-plus-circle fa-2x m-auto plus-icon"></i></a>
          
          <form class= "form-inline separator">
              <input type= "text" name = "title" class = "form-control mr-sm-2 title search-bar" placeholder = " Book Title"/>
              <button type = "submit" class = "btn btn-primary btn-sm login-btn nw-dark-purple white-border search"><i class="fas fa-search"></i></button>
          </form>
        
          <div class="active name-link" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle login-text profile-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome, {{user.firstname}}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class = "dropdown-item" href = "/profile/{{ user.id }}">Profile</a>
                          {{!-- <a class="dropdown-item" href="/add">Add Book</a> --}}
                          <a class="dropdown-item" href="/browse">Browse Books</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>    
    </nav>

<!--Container Title-->
    <!--Container-->
    <div class="add-container">
        <!--Roq-->
        <div class="row d-flex flex-wrap justify-content-center nw-purple-text">
            <!--Column-->
            <div class="col-10">
        
                <!--Form-->
                <h1 class="nw-purple-text"> Edit Textbook </h1>
        
                <form class="mt-2 mb-5">
 
                <div class="form-group nw-form p-1">
                    <label for="title">Title: </label>
                    <input type="text" class="form-control purple-border" id="title" name = "title "aria-describedby="" placeholder="">
                    {{!-- <small id="titleHelp" class="form-text text-muted">Please enter the book's title.</small> --}}
                </div>
        
                <div class="form-group nw-form p-1">
                    <label for="image">Image: </label>
                    <input type="text" class="form-control purple-border" id="image" name = "image" aria-describedby="" placeholder="">
                    {{!-- <small id="authorHelp" class="form-text text-muted">Please enter the book's author.</small> --}}
                </div>
                <div class="form-group nw-form p-1">
                    <label for="price">Asking Price:</label>
                    <input type="integer" class="form-control purple-border" id="price" name = "price" aria-describedby="" placeholder="">
                    {{!-- <small id="priceHelp" class="form-text text-muted">Please enter the book's price.</small> --}}
                </div>
                <div class="form-group p-1">
                    <label for = "condition">Condition:</label>
                    <select name="condition" id="condition">
                        <option value = "Poor">Poor</option>
                        <option value = "Fair">Fair</option>
                        <option value = "Good">Good</option>
                        <option value = "Excellent">Excellent</option>
                        <option value = "New">New</option>
                    </select>
                </div>
                {{!-- <div class="form-group nw-form p-1">
                    <label for="condition">Condition: </label>
                    <input type="text" class="form-control purple-border" id="condition" name = "condition" aria-describedby="" placeholder="">--}}
                    {{!-- <small id="subjectHelp" class="form-text text-muted">Please enter the book's condition.</small> --}}
                {{!-- </div> --}}
   
                <div class="form-group nw-form p-1">
                    <label for="description">Description: </label>
                    <input type="text" class="form-control purple-border" id="description" name = "description" aria-describedby="" placeholder="">
                    {{!-- <small id="subjectHelp" class="form-text text-muted">Please enter a description of the book.</small> --}}
                </div>
   
                
                <div class="form-group nw-form p-1">
                    <label for="pending">Pending Sale?</label>
                    <span><input type="checkbox" class="" id="pending" name = "pending" aria-describedby="" placeholder=""></span>
                    
                </div>

              
                <a href = "/profile/{{user.id}}"><button id="submit-button" type="submit" class="btn btn-primary login-btn nw-dark-purple white-border">Submit Changes</button></a>
                <a href = "/profile/{{user.id}}"><button id="delete" type="text" class="btn btn-danger white-border">Delete Book</button></a>


                </form>
        
        
            </div>
    
        </div>
    </div>

<div class="footer">Copyright &#169 2018 TigerCats</div>

</body>
</html>

<script>
$(document).ready(function(){
    let url = window.location.pathname;
    let splitUrl = url.split('/');
    let id = splitUrl.pop();
    let userId = -1;
    $.get("/api/books/" + id, function(data){
        console.log("HERHEHERHEHREHRHRHEHEHREHER");
        console.log(data);
        $("#title").val(data.title);
        $("#image").val(data.image);
        $("#condition").val(data.condition);
        {{!-- console.log(data.condition);
        console.log($("#condition").val());
        for(let i = 0; i < $("#condition > option").length; i++){
            if($("#condition").val() === data.condition)
        } --}}
        $("#description").val(data.description);
        $("#price").val(data.price);
        if(data.pending === true){
            $("#pending").attr("checked", true);
            $("#pending").val(true);
            console.log("pending");
        }
        else{
            $("#pending").attr("checked", false);
            $("#pending").val(false);
            console.log('false');
        }
        userId = data.User.id;
    });

    $("#pending").on("change", function(){
        if($(this).is(":checked")){
            $(this).attr('value', 'true');
        }
        else{
            $(this).attr('value', 'false');
        }
    });
    function updateBook(data) {
        $.ajax({
            method: "PUT",
            url: "/api/books",
            data: data
        }).then(function(){
            window.location.href = "/profile/" + userId;

        });
    }

    function deleteBook(id){
        console.log('in the delete function');
        $.ajax({
            method: "DELETE",
            url: "/api/books/" + id
        }).then(function() {
            console.log('in the then ');
            window.location.href = "/profile/" + userId;
        })
    }
    $("#submit-button").on('click', function(){
        event.preventDefault();
        var updatedBook = {
            id:id,
            title: $('#title').val().trim(),
            image: $('#image').val().trim(),
            condition: $('#condition').val().trim(),
            description: $('#description').val().trim(),
            price: $('#price').val().trim(),
            pending: $('input[type=checkbox][name=pending]').val()
        }
        console.log("pending value: " + $('input[type=checkbox][name=pending]').val());
        updateBook(updatedBook);
    });

    $("#delete").on('click', function(){
        event.preventDefault();
        console.log("Deletng book");
        deleteBook(id);
    });
    $('.search').on('click', function(event){
        event.preventDefault();
        window.location.href = "/search/" + $('.title').val().trim();
    });
});


</script>