<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body class = "dust-background">
  <nav class="navbar navbar-expand-sm justify-content-between nw-purple" >
      <div class="brand ">
        <a href="/browse"><img class = 'small-logo' src = '/images/NUBBcutwhite.gif'></a>
        <a class = "navbar-brand nu-logo" href = "/browse" >NU BookBuddies</a>
      </div>    
      <div class= "d-flex justify-content-center">
          <a class = "m-auto"href= "/add"><i class="fas fa-plus-circle fa-2x m-auto plus-icon"></i></a>
          
          <form class= "form-inline separator">
              <input type= "text" name = "title" class = "form-control mr-sm-2 title search-bar" placeholder = " Book Title"/>
              <button type = "submit" class = "btn btn-primary btn-sm login-btn nw-dark-purple white-border search"><i class="fas fa-search"></i></button>
          </form>
        
          <div class="active name-link" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle login-text profile-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome, {{user.firstname}}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class = "dropdown-item" href = "/profile/{{ user.id }}">Profile</a>
                          {{!-- <a class="dropdown-item" href="/add">Add Book</a> --}}
                          <a class="dropdown-item" href="/browse">Browse Books</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>    
    </nav>

  <!--Container Title-->
  <div>
    <h2 id="user" class="nw-purple-text pt-3 pl-3">{{user.firstname}}'s Profile</h2>
  </div>

  <!--Container with cards-->
  <div class="container rounded mt-5 mb-5 nw">
    <!--Row-->
    <div id="display" class="row d-flex flex-wrap justify-content-center">
      <!--Column-->

    </div>
  
  </div>
  
  <div class="footer">&#169 2018 BookBuddies</div>
  
  
  
  
</body>
</html>

<script>
$(document).ready(function(){

  $('.search').on('click', function(event){
      event.preventDefault();
      window.location.href = "/search/" + $('.title').val().trim();
  });
  let url = window.location.pathname;
  let splitUrl = url.split('/');
  let id = splitUrl.pop();

  $.get("/api/users/" + id, function(data){
    console.log(data);
    generateBooks(data);
  });

  function generateBooks(data){
    console.log(data.Books);
    if(data.Books.length !== 0){
    
      for(let i = 0; i < data.Books.length; i++){ 
        console.log(data.Books.length);

        let div = $('<div class="col-4 nw-purple-text">');
        let card = $('<div class="card-body nw-card mb-4">');

        div.append('<div class="card mt-4 mb-4 mr-auto ml-auto" style="width: 18rem;">');
        div.append('<img class="card-img-top" src="' + data.Books[i].image + '" alt="Book image cap">');
        div.append(card);
        card.append('<h5 class="card-title">Book Title:<br>' + data.Books[i].title + '</h5>');
        console.log(data.Books[i].title);
        
        //card.append('<p class="card-text">Condition: </p>');
        //card.append('<p class="card-text">Description: </p>');
        card.append('<p class="card-text">Price: $' + data.Books[i].price + '</p>');
        
        card.append('<p class="card-text">Sale Pending: ' + data.Books[i].pending + '</p>');
        card.append('<a href = "/edit/'+ data.Books[i].id + '">Edit </a>');
        //card.append('<a href="#" class="btn btn-primary">Edit</a>');
        $('#display').append(div);
      }
    }
  };
});  

</script>