<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
 
<body class = "">
  <nav class="navbar navbar-expand-sm justify-content-between nw-purple" >
      <a class = "navbar-brand nu-logo" href = "/browse" >NU BookBuddies</a>
    
      <div class= "d-flex justify-content-center">
          <a class = "m-auto"href= "/add"><i class="fas fa-plus-circle fa-2x m-auto plus-icon"></i></a>
          
          <form class= "form-inline separator">
              <input type= "text" name = "title" class = "form-control mr-sm-2 title search-bar" placeholder = " Book Title"/>
              <button type = "submit" class = "btn btn-primary btn-sm login-btn nw-dark-purple white-border search"><i class="fas fa-search"></i></button>
          </form>
        
          <div class="active name-link" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle login-text profile-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome, {{user.firstname}}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class = "dropdown-item" href = "/profile/{{ user.id }}">Profile</a>
                          {{!-- <a class="dropdown-item" href="/add">Add Book</a> --}}
                          <a class="dropdown-item" href="/browse">Browse Books</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>    
    </nav>
    <div class="container">
        <h1 class = 'nw-purple-text mt-3'>Search Results</h1>
        <div class = "book-display row"></div>
    </div>
    <div class="footer">Copyright &#169 2018 TigerCats</div>

</body>
 <script>
    
     function getBooks(){
        var url = window.location.pathname;
        var splitUrl = url.split('/');
        var searchTerm = splitUrl.pop();
         $.get("/api/books?title="+ searchTerm, function(data){
             for(let i = 0; i < data.length; i ++) {
                let card = $("<div class = 'card col-md-2 m-sm-3 nw-purple-text' style = 'width:18rem;border-color: #4E2A84;'>");
                let image = $("<img class = 'card-img-top mt-sm-2'>");
                image.attr('src', data[i].image);
                let cardBody = $("<div class = 'card-body'>");
                let title = $("<h5 class = 'card-title'>");
                title.text(data[i].title);
                let price = $("<h5 class = 'card-title font-weight-light font-italic text-right'>");
                price.text("$" + data[i].price);
                let link = $("<a>");
                link.attr('href', '/search/' + data[i].title + '/' + data[i].id);
                link.append(image);
                cardBody.append(price);
                let pendingSale = $("<div class = 'red-words mt-sm-1'>* Sale Pending *</div>");
                if(data[i].pending === true){
                    card.append(pendingSale).append(link).append(cardBody);
                }
                else {
                    card.append(link).append(cardBody);

                }
                card.append(link).append(cardBody);
             
                $('.book-display').append(card);
             }
         });
     }
     
     getBooks();
     $('.search').on('click', function(event){
        event.preventDefault();
        window.location.href = "/search/" + $('.title').val().trim();
    });
 </script>
</html>