<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Quicksand" rel="stylesheet">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
 
<body class = "light-purple-background">
  <nav class="navbar navbar-expand-sm justify-content-between nw-purple" >
      <a class = "navbar-brand nu-logo" href = "/browse" >NU BookBuddies</a>
    
      <div class= "d-flex justify-content-center">
          <a class = "m-auto"href= "/add"><i class="fas fa-plus-circle fa-2x m-auto plus-icon"></i></a>
          
          <form class= "form-inline separator">
              <input type= "text" name = "title" class = "form-control mr-sm-2 title search-bar" placeholder = " Book Title"/>
              <button type = "submit" class = "btn btn-primary btn-sm login-btn nw-dark-purple white-border search"><i class="fas fa-search"></i></button>
          </form>
        
          <div class="active name-link" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle login-text profile-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome, {{user.firstname}}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class = "dropdown-item" href = "/profile/{{ user.id }}">Profile</a>
                          {{!-- <a class="dropdown-item" href="/add">Add Book</a> --}}
                          <a class="dropdown-item" href="/browse">Browse Books</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>    
    </nav>
    <div class="container">
        <div class = "row display-card">
            <div class="col-lg-6 col-md-12 book-image"></div>
            <div class = "col-lg-6 col-md-12 book-details">
            </div>
        </div>
    </div>
    <div class="footer">Copyright &#169 2018 TigerCats</div>

    
    
    
    
</body>
 <script>
    //var moment = require('moment');
    function showBook(){
        var url = window.location.pathname;
        console.log(url);
        console.log(url.split('/'));
        var splitUrl = url.split('/');
        var id = splitUrl.pop();
        var browseOrSearch = splitUrl.pop();
        console.log(browseOrSearch);
        $.get("/api/books/" + id, function(data){
            $('.book-image').append("<img class = 'book-image-style' src = '"+ data.image + "'>");

            // Book Detail section
            let headingTitle = $('<div class = "d-flex justify-content-between">')
            let title = $('<h2>');
            title.text(data.title);
            let bookDetails = $('<div class = "pl-3 pb-4">');
            let price = $('<p>');
            price.text("Asking price: $" +data.price);
            let condition = $('<p>');
            condition.text("Condition: " +data.condition);
            let description = $('<p>');
            description.text("Description: " +data.description);
            let createdAt = $('<p class = "text-right">');
            createdAt.text("Posted:" + moment(data.createdAt).format("MMM Do YY, h:mm:ss a"));
            console.log(data.createdAt);
            console.log(moment(data.createdAt).format("MMM Do YY"));
            bookDetails.append(price).append(condition).append(description);

            // Contact Detail section
            let contactInfo = $('<div class = "pl-3">');
            let contactHeader = $('<h5>');
            contactHeader.text('Seller Contact Info');
            let name = $('<p>');
            name.text("Name: " + data.User.firstname + " " + data.User.lastname);
            let email = $('<p>');
            email.text("Email: " + data.User.email);
            let memberSince = $('<p>');
            memberSince.text("Member since: " + moment(data.User.createdAt).format("MMM Do YY"));
            let backBtn = $('<a>');
            backBtn.addClass('btn btn-primary');
            backBtn.text('Back');
            if(browseOrSearch === 'browse'){
                backBtn.attr('href', '/browse');
            }
            else{
                backBtn.attr('href', '/search/' + data.title);
            }
            if(data.pending === true){
                let pendingSale = $('<p>');
                pendingSale.addClass('red-words');
                pendingSale.text("* Sale Pending *");
                contactInfo.append(name).append(email).append(memberSince).append(pendingSale).append(backBtn);

            }
            else {
                contactInfo.append(name).append(email).append(memberSince).append(backBtn);
            }

            $('.book-details').append(createdAt).append(title).append(bookDetails).append(contactHeader).append(contactInfo);
            $('.book-details').addClass('nw-purple-text');
        });
    }
     $('.search').on('click', function(event){
        event.preventDefault();
        window.location.href = "/search/" + $('.title').val().trim();
    });
    showBook();
 </script>
</html>