<!DOCTYPE html>
<html>
 
<head>
    <title>Book Exchange</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <style>
       
    </style>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <a href = "/users/{{ user.id }}"><h1>{{user.firstname}}</h1></a>

    <a href = "/logout">Logout</a>
    <script>
        
    </script>
</body>
 
</html>