<!DOCTYPE html>
<html>
 
<head>
    <title>Book Exchange</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <style>
       
    </style>
</head>
 
<body>
    {{!-- 
    - Should have a search bar that goes to the search page
    - Needs an add button to go the /add a book page
    - Needs a browse button to go to the /browse page
    - Already has a link to the user's profile and logout button below --}}
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <a href = "/users/{{ user.id }}"><h1>{{user.firstname}}</h1></a>

    <a href = "/logout">Logout</a>
    <script>
        
    </script>
</body>
 
</html>