.fractal-background {
    background: url("../images/fractals.gif") no-repeat center fixed;
    background-size: cover;

}

.nw-purple {
    background: #4E2A84
}

.nw-dark-purple {
    background: #401F68;
}

.light-purple-background {
    background: #E4E0EE;
}

.white-border {
    border-color: white;
}

.nu-logo {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.login-header {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding: 5px 0px;
    margin-top: 1em;
}

.login-text {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
}


.header{
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    height: 4em;
    background-color:#4E2A84;
    color: white;
  }
  
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-color:#4E2A84;
    color: white;
    text-align: center;
  }
  
  .nw{
      border: 2px solid #4E2A84;
  }
  
  .nw-text{
    color: #4E2A84
  }
  
  .button{
    background-color: white;
    color: #4E2A84
  }
  
  .button-toggle{
    background-color: #4E2A84;
    color: white
  }

.search-bar {
    width: 80%;
    padding: 2px;
}